.ql-editor {
  min-height: 25rem;
}

.ql-toolbar {
  background-color: #eee;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.ql-container {
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}
